.profile-img {
  width: 50px;
  height: auto;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid-img {
  margin: 0 3px 3px 0;
}

.center-w-margin {
  padding-left: 10%;
  padding-right: 10%;
}

body {
  background-color: aquamarine;
  
}


/* scrollbar styling done with help of chatGPT  */
::-webkit-scrollbar {
  width: 15px;
  background-color: #e0f2f1; /* Light aquamarine background color */
}

::-webkit-scrollbar-thumb {
  background-color: #43d3c4; /* Darker shade of aquamarine */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0faf9d; /* Darker shade of aquamarine when hovered */
}

::-webkit-scrollbar-track {
  background-color: #88e0d9; /* Lighter shade of aquamarine */
}
